Repository CitiesSkylinesMods/TMPE, pull requests merged in 2020-04, with the labels that each got.

#812 Fix GetModName() in mod compat checker
  TLM/TLM/Util/ModsCompatibilityChecker.cs
Labels: COMPATIBILITY, EXTERNAL

#816 Bump mod version, update changelogs
  CHANGELOG.md
  README.md
  TLM/SharedAssemblyInfo.cs
Labels: docs, meta

#706 Lane Connector tool - Quick setup
  TLM/TLM/Resources/Translations/Guide.csv
  TLM/TLM/State/Keybinds/KeybindSettingsBase.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/Util/PriorityRoad.cs
  TLM/TLM/Util/Shortcuts.cs
  TLM/TMPE.CitiesGameBridge/TMPE.CitiesGameBridge.csproj
  TLM/TMPE.GenericGameBridge/TMPE.GenericGameBridge.csproj
  TLM/TMPE.TestGameBridge/TMPE.TestGameBridge.csproj
  TLM/TMPE.UnitTest/TMPE.UnitTest.csproj
Labels: LANE ROUTING, Usability, enhancement

#821 Fix DLC filter in SpeedLimitManager
  TLM/TLM/Manager/Impl/SpeedLimitManager.cs
Labels: BUG, SPEED LIMITS

#823 Update changelogs + bump version to 11.3.0
  CHANGELOG.md
  README.md
  TLM/SharedAssemblyInfo.cs
Labels: docs, meta

#828 TimedTrafficLights states moved inside TTL tool
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/MainMenu/MainMenuPanel.cs
  TLM/TLM/UI/MainMenu/TimedTrafficLightsButton.cs
  TLM/TLM/UI/SubTools/TimedTrafficLights/TTLToolMode.cs
  TLM/TLM/UI/SubTools/TimedTrafficLights/TimedTrafficLightsTool.cs
  TLM/TLM/UI/ToolMode.cs
  TLM/TLM/UI/TrafficManagerTool.cs
Labels: BUG, TRAFFIC LIGHTS, UI

#831 Remove Trees Respiration from incompatible_mods.txt
  TLM/TLM/Resources/incompatible_mods.txt
Labels: COMPATIBILITY, EXTERNAL

#829 11.3.1 Changelog and Version bump
  CHANGELOG.md
  README.md
  TLM/SharedAssemblyInfo.cs
  docs/index.md
Labels: docs, meta

#837 Decruft citizen status
  TLM/TLM/Manager/Impl/ExtCitizenInstanceManager.cs
Labels: code cleanup

#834 Auto-debug ExtCitizenInstanceManager.StartPathFind()
  TLM/TLM/Manager/Impl/ExtCitizenInstanceManager.cs
Labels: PATHFINDER, technical

#842 Bump version and update changelogs
  CHANGELOG.md
  README.md
  TLM/SharedAssemblyInfo.cs
Labels: docs

#755 dedicated turning lanes phase2
  TLM/TLM/Manager/Impl/LaneArrowManager.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/SubTools/LaneArrows/LaneArrowTool.cs
  TLM/TLM/Util/AutoTimedTrafficLights.cs
  TLM/TLM/Util/PriorityRoad.cs
  TLM/TLM/Util/RoundaboutMassEdit.cs
  TLM/TLM/Util/SeparateTurningLanesUtil.cs
  TLM/TLM/Util/Shortcuts.cs
  TLM/TMPE.API/Traffic/Enums/LaneArrows.cs
Labels: LANE ROUTING, Usability, enhancement

#843 Bump mod version to v11.4.0, update changelogs
  CHANGELOG.md
  README.md
  TLM/SharedAssemblyInfo.cs
Labels: docs, meta

#631 Mass-edit road selection panel
  TLM/TLM/LoadingExtension.cs
  TLM/TLM/Patch/_DefaultTool/OnToolGUIPatch.cs
  TLM/TLM/Patch/_DefaultTool/RenderOverlayPatch.cs
  TLM/TLM/Patch/_InfoManager/SetModePatch.cs
  TLM/TLM/Patch/_RoadWorldInfoPanel/OnAdjustRoadButtonPatch.cs
  TLM/TLM/Resources/RoadSelectionPanel/Clear-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Clear-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/HighPriority-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/HighPriority-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/RoundButton-bg-active.png
  TLM/TLM/Resources/RoadSelectionPanel/RoundButton-bg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/RoundButton-bg-hovered.png
  TLM/TLM/Resources/RoadSelectionPanel/RoundButton-bg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/Roundabout-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Roundabout-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/Stop-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Stop-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/Yield-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Yield-fg-normal.png
  TLM/TLM/TLM.csproj
  TLM/TLM/U/Button/BaseUButton.cs
  TLM/TLM/U/TextureUtil.cs
  TLM/TLM/UI/ModUI.cs
  TLM/TLM/UI/RoadSelectionPanels.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/UI/SubTools/PrioritySignsTool.cs
  TLM/TLM/UI/Textures/TextureResources.cs
  TLM/TLM/UI/TrafficManagerTool.cs
  TLM/TLM/Util/PriorityRoad.cs
  TLM/TLM/Util/RoadSelectionUtil.cs
  TLM/TLM/Util/RoundaboutMassEdit.cs
  TLM/TLM/Util/SegmentTraverser.cs
  TLM/TLM/Util/Shortcuts.cs
Labels: JUNCTION RESTRICTIONS, LANE ROUTING, Overlays, PRIORITY SIGNS, UI

#856 Fixed: lane arrows don't get reset if the lane arrow window is not focused
  TLM/TLM/UI/SubTools/LaneArrows/LaneArrowTool.cs
Labels: BUG, LANE ROUTING, UI

#851 Lane routing tools now support onscreen display
  TLM/TLM/Resources/Translations/Guide.csv
  TLM/TLM/Resources/Translations/LaneRouting.csv
  TLM/TLM/Resources/Translations/Menu.csv
  TLM/TLM/Resources/Translations/Options.csv
  TLM/TLM/Resources/Translations/SpeedLimits.csv
  TLM/TLM/Resources/Translations/TrafficLights.csv
  TLM/TLM/State/Keybinds/Keybind.cs
  TLM/TLM/State/Keybinds/KeybindSetting.cs
  TLM/TLM/State/Keybinds/KeybindSettingsBase.cs
  TLM/TLM/State/Keybinds/KeybindSettingsPage.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/U/Button/BaseUButton.cs
  TLM/TLM/U/Button/UButton.cs
  TLM/TLM/U/UConst.cs
  TLM/TLM/U/UIBuilder.cs
  TLM/TLM/UI/LegacySubTool.cs
  TLM/TLM/UI/MainMenu/IOnscreenDisplayProvider.cs
  TLM/TLM/UI/MainMenu/MainMenuWindow.cs
  TLM/TLM/UI/MainMenu/OSD/HardcodedMouseShortcut.cs
  TLM/TLM/UI/MainMenu/OSD/ModeDescription.cs
  TLM/TLM/UI/MainMenu/OSD/OnscreenDisplay.cs
  TLM/TLM/UI/MainMenu/OSD/OsdItem.cs
  TLM/TLM/UI/MainMenu/OSD/Shortcut.cs
  TLM/TLM/UI/MainMenu/OnScreenDisplay.cs
  TLM/TLM/UI/SubTools/LaneArrows/LaneArrowTool.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/UI/TrafficManagerSubTool.cs
  TLM/TLM/UI/TrafficManagerTool.cs
Labels: Keybinds, LANE ROUTING, Toolbar, UI

#858 Amend #851: Add missing strings and write config on toggle OSD
  TLM/TLM/LoadingExtension.cs
  TLM/TLM/Patch/_InfoManager/SetModePatch.cs
  TLM/TLM/Resources/MainMenu/Tool/ParkingRestrictions-fg-normal.png
  TLM/TLM/Resources/Translations/AI_Car.csv
  TLM/TLM/Resources/Translations/AI_Citizen.csv
  TLM/TLM/Resources/Translations/Guide.csv
  TLM/TLM/Resources/Translations/JunctionRestrictions.csv
  TLM/TLM/Resources/Translations/LaneRouting.csv
  TLM/TLM/Resources/Translations/Menu.csv
  TLM/TLM/Resources/Translations/ModConflicts.csv
  TLM/TLM/Resources/Translations/Options.csv
  TLM/TLM/Resources/Translations/ParkingRestrictions.csv
  TLM/TLM/Resources/Translations/PrioritySigns.csv
  TLM/TLM/Resources/Translations/SpeedLimits.csv
  TLM/TLM/Resources/Translations/TrafficLights.csv
  TLM/TLM/Resources/Translations/Tutorials.csv
  TLM/TLM/Resources/Translations/VehicleRestrictions.csv
  TLM/TLM/ThreadingExtension.cs
  TLM/TLM/UI/Localization/Translation.cs
  TLM/TLM/UI/MainMenu/MainMenuWindow.cs
  TLM/TLM/UI/MainMenu/OSD/OnscreenDisplay.cs
  TLM/TLM/UI/MainMenu/SpeedLimitsButton.cs
  TLM/TLM/UI/ModUI.cs
  TLM/TLM/UI/RoadSelectionPanels.cs
  TLM/TLM/UI/SubTools/LaneArrows/LaneArrowTool.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/UI/TrafficManagerTool.cs
Labels: Localisation, UI

#852 Eradicate LogicUtil
  TLM/CSUtil.Commons/CSUtil.Commons.csproj
  TLM/CSUtil.Commons/LogicUtil.cs
  TLM/TLM/Manager/Impl/JunctionRestrictionsManager.cs
  TLM/TLM/Manager/Impl/LaneArrowManager.cs
  TLM/TLM/Manager/Impl/LaneConnectionManager.cs
  TLM/TLM/Manager/Impl/RoutingManager.cs
  TLM/TLM/Manager/Impl/SpeedLimitManager.cs
  TLM/TLM/Manager/Impl/TrafficLightManager.cs
  TLM/TLM/Manager/Impl/VehicleRestrictionsManager.cs
  TLM/TLM/State/Flags.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TMPE.CitiesGameBridge/Factory/ServiceFactory.cs
  TLM/TMPE.CitiesGameBridge/Service/BuildingService.cs
  TLM/TMPE.CitiesGameBridge/Service/CitizenService.cs
  TLM/TMPE.CitiesGameBridge/Service/NetService.cs
  TLM/TMPE.CitiesGameBridge/Service/PathService.cs
  TLM/TMPE.CitiesGameBridge/Service/VehicleService.cs
  TLM/TMPE.CitiesGameBridge/TMPE.CitiesGameBridge.csproj
  TLM/TMPE.GenericGameBridge/Factory/IServiceFactory.cs
  TLM/TMPE.GenericGameBridge/Service/IBuildingService.cs
  TLM/TMPE.GenericGameBridge/Service/ICitizenService.cs
  TLM/TMPE.GenericGameBridge/Service/INetService.cs
  TLM/TMPE.GenericGameBridge/Service/IPathService.cs
  TLM/TMPE.GenericGameBridge/Service/IVehicleService.cs
  TLM/TMPE.GenericGameBridge/TMPE.GenericGameBridge.csproj
  TLM/TMPE.UnitTest/TMPE.UnitTest.csproj
  TLM/TMPE.UnitTest/Util/LogicUtilUnitTest.cs
Labels: code cleanup

#845 Heinous Junction Restrictions overlay
  TLM/TLM/Manager/Impl/ExtSegmentEndManager.cs
  TLM/TLM/Patch/_DefaultTool/OnToolGUIPatch.cs
  TLM/TLM/Patch/_DefaultTool/RenderOverlayPatch.cs
  TLM/TLM/Patch/_NetSegment/CalculateSegmentPatch.cs
  TLM/TLM/State/OptionsTabs/OptionsOverlaysTab.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/Helpers/TrafficRulesOverlay.cs
  TLM/TLM/UI/RoadSelectionPanels.cs
  TLM/TLM/UI/SubTools/JunctionRestrictionsTool.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/UI/SubTools/PrioritySigns/MassEditOverlay.cs
  TLM/TLM/UI/SubTools/PrioritySigns/PrioritySignsTool.cs
  TLM/TLM/UI/Textures/JunctionRestrictions.cs
  TLM/TLM/UI/TrafficManagerTool.cs
  TLM/TLM/Util/Caching/GenericArrayCache.cs
  TLM/TLM/Util/PriorityRoad.cs
  TLM/TMPE.API/Traffic/Data/ExtSegmentEnd.cs
Labels: JUNCTION RESTRICTIONS, Overlays, UI, Usability

#849 Dragging/sizing main menu pushes it back into screen rect
  TLM/TLM/State/ConfigData/Main.cs
  TLM/TLM/State/GlobalConfig.cs
  TLM/TLM/State/OptionsTabs/OptionsGameplayTab.cs
  TLM/TLM/State/OptionsTabs/OptionsGeneralTab.cs
  TLM/TLM/U/UIUtil.cs
  TLM/TLM/UI/MainMenu/MainMenuWindow.cs
  TLM/TLM/UI/MainMenu/StatsLabel.cs
  TLM/TLM/UI/SubTools/LaneArrows/LaneArrowTool.cs
  TLM/TLM/UI/SubTools/LaneArrows/LaneArrowToolWindow.cs
Labels: Accessibility, Toolbar, UI, Usability
