Repository CitiesSkylinesMods/TMPE, pull requests merged in 2020-02, with the labels that each got.

#624 fixed hovering error by using distance instead of angle
  TLM/TLM/UI/TrafficManagerTool.cs
Labels: Accessibility, LANE ROUTING, Usability

#637 Fixed junction manger OnLevelUnloading()
  TLM/TLM/Manager/Impl/JunctionRestrictionsManager.cs
Labels: technical

#644 rename readme to index
  docs/index.md
Labels: docs, meta

#660 Translation update, Guide file added
  TLM/TLM/Resources/Translations/Guide.csv
  TLM/TLM/Resources/Translations/LaneRouting.csv
  TLM/TLM/Resources/Translations/Menu.csv
  TLM/TLM/Resources/Translations/Options.csv
  TLM/TLM/Resources/Translations/SpeedLimits.csv
  TLM/TLM/Resources/Translations/TrafficLights.csv
  TLM/TLM/Resources/Translations/Tutorials.csv
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/Localization/Translation.cs
Labels: Localisation, UI

#661 Missed #563 being closed in 11.0
  CHANGELOG.md
  README.md
Labels: docs, meta

#640 Better loading extension and Hot reload
  TLM/TLM/LoadingExtension.cs
  TLM/TLM/State/SerializableDataExtension.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/TrafficManagerMod.cs
  TLM/TLM/UI/MainMenu/VersionLabel.cs
  TLM/TLM/UI/TrafficManagerTool.cs
  TLM/TLM/UI/UIBase.cs
Labels: technical

#638 reset lane arrows
  TLM/TLM/Manager/Impl/LaneArrowManager.cs
  TLM/TLM/Manager/Impl/LaneConnectionManager.cs
  TLM/TLM/Manager/Impl/RoutingManager.cs
  TLM/TLM/Manager/Impl/SpeedLimitManager.cs
  TLM/TLM/Manager/Impl/TrafficLightManager.cs
  TLM/TLM/Manager/Impl/VehicleRestrictionsManager.cs
  TLM/TLM/State/Flags.cs
  TLM/TLM/UI/SubTools/LaneArrowTool.cs
  TLM/TLM/Util/Shortcuts.cs
Labels: LANE ROUTING, UI, Usability, technical

#621 Quick setup of Priority roads
  TLM/TLM/Manager/Impl/OptionsManager.cs
  TLM/TLM/State/Options.cs
  TLM/TLM/State/OptionsTabs/OptionsMassEditTab.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/Helpers/CheckboxOption.cs
  TLM/TLM/UI/SubTools/JunctionRestrictionsTool.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/UI/SubTools/PrioritySignsTool.cs
  TLM/TLM/Util/PriorityRoad.cs
  TLM/TLM/Util/RoundaboutMassEdit.cs
  TLM/TLM/Util/Shortcuts.cs
  TLM/TMPE.CitiesGameBridge/Service/NetService.cs
Labels: JUNCTION RESTRICTIONS, LANE ROUTING, PRIORITY SIGNS

#639 delete junction restrictions
  TLM/TLM/Manager/Impl/JunctionRestrictionsManager.cs
  TLM/TLM/State/Keybinds/KeybindSetting.cs
  TLM/TLM/UI/SubTools/JunctionRestrictionsTool.cs
  TLM/TMPE.API/Manager/IJunctionRestrictionsManager.cs
  TLM/TMPE.API/Traffic/Data/SegmentEndFlags.cs
  TLM/TMPE.API/Traffic/Data/SegmentFlags.cs
Labels: JUNCTION RESTRICTIONS, UI, Usability, technical

#635 Pimped-up lane hover !
  TLM/TLM/UI/SubTool.cs
  TLM/TLM/UI/SubTools/LaneArrowTool.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/UI/TrafficManagerTool.cs
Labels: LANE ROUTING, UI, Usability, enhancement

#680 Centralise mod version
  TLM/SharedAssemblyInfo.cs
  TLM/TLM/Properties/AssemblyInfo.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/TrafficManagerMod.cs
  TLM/TLM/UI/MainMenu/DebugMenu.cs
  TLM/TMPE.API/Properties/AssemblyInfo.cs
  TLM/TMPE.API/TMPE.API.csproj
  TLM/TMPE.CitiesGameBridge/Properties/AssemblyInfo.cs
  TLM/TMPE.CitiesGameBridge/TMPE.CitiesGameBridge.csproj
  TLM/TMPE.GenericGameBridge/Properties/AssemblyInfo.cs
  TLM/TMPE.GenericGameBridge/TMPE.GenericGameBridge.csproj
  TLM/TMPE.sln
Labels: code cleanup, technical

#662 Fix vehicle stop at yield sign if no traffic
  TLM/TLM/Custom/AI/CustomCarAI.cs
  TLM/TLM/Custom/AI/CustomTrainAI.cs
  TLM/TLM/Custom/AI/CustomTramBaseAI.cs
  TLM/TLM/Manager/Impl/ExtVehicleManager.cs
  TLM/TLM/Manager/Impl/VehicleBehaviorManager.cs
Labels: BUG, PRIORITY SIGNS, confirmed

#688 Version 11.1.0
  TLM/SharedAssemblyInfo.cs
  TLM/TLM/TrafficManagerMod.cs
Labels: COMPATIBILITY, DO NOT MERGE YET, EXTERNAL, meta

#694 11.1.0 changelogs
  CHANGELOG.md
  README.md
Labels: docs

#693 Build guide: Note on Win10 Mandatory ASLR, and optimised procedure thanks to imrpoved hint paths
  docs/BUILDING_INSTRUCTIONS.md
Labels: docs, meta

#696 Create Mod Integration.md
  docs/Mod Integration.md
Labels: docs

#708 Parking Restrictions tool - Lane highlighting
  TLM/TLM/Manager/Impl/ParkingRestrictionsManager.cs
  TLM/TLM/UI/MainMenu/ParkingRestrictionsButton.cs
  TLM/TLM/UI/SubTools/ParkingRestrictionsTool.cs
  TLM/TLM/UI/SubTools/SpeedLimits/SpeedLimitsTool.cs
  TLM/TLM/UI/TrafficManagerTool.cs
Labels: Overlays, PARKING, UI, Usability

#722 Mod options scrollbar position fix
  TLM/TLM/UI/Helpers/ExtUITabStrip.cs
Labels: UI, enhancement

#729 Fix guide
  TLM/TLM/UI/Helpers/GuideHandler.cs
Labels: BUG, high priority

#723 Translation update
  TLM/TLM/Resources/Translations/Guide.csv
  TLM/TLM/Resources/Translations/LaneRouting.csv
  TLM/TLM/Resources/Translations/Menu.csv
  TLM/TLM/Resources/Translations/ModConflicts.csv
  TLM/TLM/Resources/Translations/Options.csv
  TLM/TLM/Resources/Translations/SpeedLimits.csv
  TLM/TLM/Resources/Translations/TrafficLights.csv
  TLM/TLM/Resources/Translations/Tutorials.csv
  TLM/TLM/UI/MainMenu/ParkingRestrictionsButton.cs
Labels: Localisation, UI

#732 Fixes TTL texture loading exceptions
  TLM/TLM/Resources/TrafficLights/pedestrian_mode_1.png
  TLM/TLM/Resources/TrafficLights/pedestrian_mode_2.png
  TLM/TLM/Resources/TrafficLights/pedestrian_mode_2_pl.png
  TLM/TLM/TLM.csproj
Labels: BUG, TRAFFIC LIGHTS, confirmed

#736 Decruft SpeedLimitManager.LoadData() logging
  TLM/TLM/Manager/Impl/SpeedLimitManager.cs
Labels: SPEED LIMITS, code cleanup, technical

#709 Speed Limit tool - Lane highlighting
  TLM/TLM/Manager/Impl/SpeedLimitManager.cs
  TLM/TLM/Resources/RoadUI/remove_signs.png
  TLM/TLM/Resources/Translations/SpeedLimits.csv
  TLM/TLM/Resources/clear.png
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/Helpers/SegmentLaneMarker.cs
  TLM/TLM/UI/SubTools/PrioritySignsTool.cs
  TLM/TLM/UI/SubTools/SpeedLimits/SpeedLimitsTool.cs
  TLM/TLM/UI/Textures/RoadUI.cs
  TLM/TLM/UI/Textures/SpeedLimitTextures.cs
  TLM/TLM/UI/TrafficManagerTool.cs
  TLM/TLM/Util/SegmentLaneTraverser.cs
  TLM/TLM/Util/SegmentTraverser.cs
  TLM/TLM/Util/Shortcuts.cs
  TLM/TMPE.GenericGameBridge/Service/INetService.cs
Labels: Overlays, SPEED LIMITS, UI, Usability

#721 Vehicle Restrictions tool - lane highlight and better UI panel
  TLM/TLM/Manager/Impl/VehicleRestrictionsManager.cs
  TLM/TLM/UI/Helpers/SegmentLaneMarker.cs
  TLM/TLM/UI/SubTools/JunctionRestrictionsTool.cs
  TLM/TLM/UI/SubTools/LaneArrowTool.cs
  TLM/TLM/UI/SubTools/VehicleRestrictionsTool.cs
  TLM/TLM/UI/TrafficManagerTool.cs
  TLM/TMPE.CitiesGameBridge/Service/NetService.cs
  TLM/TMPE.GenericGameBridge/Service/INetService.cs
Labels: UI, Usability, VEHICLE RESTRICTIONS, enhancement

#746 fixed iteration exception when clicking on handles
  TLM/TLM/UI/SubTools/VehicleRestrictionsTool.cs
Labels: BUG, VEHICLE RESTRICTIONS

#753 SpeedLimitManager.OnBeforeData: Use string builder in logging
  TLM/TLM/Manager/Impl/SpeedLimitManager.cs
Labels: SPEED LIMITS, code cleanup

#742 Reintroduced Simulation Accuracy option
  TLM/TLM/Manager/Impl/OptionsManager.cs
  TLM/TLM/Manager/Impl/TrafficPriorityManager.cs
  TLM/TLM/Manager/Impl/VehicleBehaviorManager.cs
  TLM/TLM/Patch/_RoadBaseAI/SegmentSimulationStepPatch.cs
  TLM/TLM/Resources/Translations/Guide.csv
  TLM/TLM/Resources/Translations/LaneRouting.csv
  TLM/TLM/Resources/Translations/Menu.csv
  TLM/TLM/Resources/Translations/ModConflicts.csv
  TLM/TLM/Resources/Translations/Options.csv
  TLM/TLM/Resources/Translations/SpeedLimits.csv
  TLM/TLM/Resources/Translations/TrafficLights.csv
  TLM/TLM/State/Options.cs
  TLM/TLM/State/OptionsTabs/OptionsGeneralTab.cs
  TLM/TLM/Traffic/Impl/SegmentEnd.cs
  TLM/TLM/UI/Helpers/ExtUITabStrip.cs
  TLM/TMPE.API/TMPE.API.csproj
  TLM/TMPE.API/Traffic/Enums/SimulationAccuracy.cs
Labels: Localisation, PRIORITY SIGNS, Settings, performance

#745 11.1.1 - Updated changelog and readme
  CHANGELOG.md
  README.md
Labels: docs, meta

#758 tmpe.me: Updated badges and other minor tweaks
  docs/index.md
Labels: docs, meta
