Repository CitiesSkylinesMods/TMPE, pull requests merged in 2020-07, with the labels that each got.

#970 TMPE in asset editor phase 2.
  TLM/TLM/LoadingExtension.cs
  TLM/TLM/State/OptionsTabs/OptionsMaintenanceTab.cs
  TLM/TLM/TrafficManagerMod.cs
Labels: Blocking, enhancement

#971 Serialize Traffic rules to asset
  TLM/TLM/Patch/_LoadAssetPanel/OnLoadPatch.cs
  TLM/TLM/State/Asset/AssetData.cs
  TLM/TLM/State/Asset/AssetDataExtension.cs
  TLM/TLM/State/SerializationUtil.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/Util/Record/RecordUtil.cs
  TLM/TLM/Util/Record/TrafficRulesRecord.cs
  TLM/TLM/Util/Shortcuts.cs
Labels: Blocking, Dependent, EXTERNAL, feature, serialization

#937 Removed non referenced stuff marked as "// Not used" from the codebase.
  TLM/TLM/State/Configuration.cs
  TLM/TLM/State/Flags.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/SubTools/ManualTrafficLightsTool.cs
  TLM/TLM/UI/TrafficManagerTool.cs
  TLM/TLM/Util/MathUtil.cs
  TLM/TMPE.API/Geometry/INodeGeometry.cs
  TLM/TMPE.API/Geometry/ISegmentEndGeometry.cs
  TLM/TMPE.API/Geometry/ISegmentGeometry.cs
  TLM/TMPE.API/TMPE.API.csproj
Labels: code cleanup

#973 post build script to create mdb file for file and line numbers
  TLM/TLM/TLM.csproj
  docs/Debug_Symbols.md
Labels: docs, technical

#976 Update BUILDING_INSTRUCTIONS.md
  docs/BUILDING_INSTRUCTIONS.md
Labels: docs

#981 fixed typo
  TLM/TLM/Util/Record/SpeedLimitLaneRecord.cs
Labels: BUG, EXTERNAL, SPEED LIMITS, high priority

#984 Updated icons for RoadSelectionPanel to optimized 8bit
  TLM/TLM/Resources/RoadSelectionPanel/Clear-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Clear-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/HighPriority_LHT-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/HighPriority_LHT-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/HighPriority_RHT-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/HighPriority_RHT-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/RoundButton-bg-active.png
  TLM/TLM/Resources/RoadSelectionPanel/RoundButton-bg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/RoundButton-bg-hovered.png
  TLM/TLM/Resources/RoadSelectionPanel/RoundButton-bg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/Roundabout_LHT-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Roundabout_LHT-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/Roundabout_RHT-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Roundabout_RHT-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/Stop_LHT-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Stop_LHT-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/Stop_RHT-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Stop_RHT-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/Yield_LHT-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Yield_LHT-fg-normal.png
  TLM/TLM/Resources/RoadSelectionPanel/Yield_RHT-fg-disabled.png
  TLM/TLM/Resources/RoadSelectionPanel/Yield_RHT-fg-normal.png
Labels: UI
