Repository CitiesSkylinesMods/TMPE, pull requests merged in 2021-12, with the labels that each got.

#1210 fix: routing manager lane connection check
  TLM/TLM/Manager/Impl/RoutingManager.cs
Labels: Annoyance, LANE ROUTING, Blocking

#1212 fix uturn policy on T junctions
  TLM/TLM/Manager/Impl/RoutingManager.cs
Labels: BUG, JUNCTION RESTRICTIONS, LANE ROUTING, U-Turn

#1217 fixed JRM transparency
  TLM/TLM/UI/Helpers/TrafficRulesOverlay.cs
Labels: Annoyance, UI, JUNCTION RESTRICTIONS

#1224 Update `SPEED_TO_MPH` constant to correct value
  TLM/TLM/Constants.cs
Labels: SPEED LIMITS

#1232 Adds checkbox label text wrap for some very long options
  TLM/TLM/State/Options.cs
  TLM/TLM/State/OptionsTabs/OptionsGameplayTab.cs
  TLM/TLM/State/OptionsTabs/OptionsVehicleRestrictionsTab.cs
  TLM/TLM/UI/Helpers/CheckboxOption.cs
Labels: Localisation, UI

#1237 fix position of lane arrow tool for different resolutions.
  TLM/TLM/U/Panel/BaseUWindowPanel.cs
  TLM/TLM/UI/SubTools/LaneArrows/LaneArrowTool.cs
Labels: BUG, UI

#1236 update routings after modifying dedicated turning lanes policy
  TLM/TLM/Manager/Impl/LaneArrowManager.cs
  TLM/TLM/State/OptionsTabs/OptionsVehicleRestrictionsTab.cs
  TLM/TLM/Util/PlaceIntersectionUtil.cs
Labels: LANE ROUTING

#1242 fixed regression: Auto TTL should set-up dedicated turning lanes properly
  TLM/TLM/State/OptionsTabs/OptionsVehicleRestrictionsTab.cs
  TLM/TLM/Util/AutoTimedTrafficLights.cs
  TLM/TLM/Util/SeparateTurningLanesUtil.cs
Labels: high priority, LANE ROUTING, TRAFFIC LIGHTS, Settings
