Repository CitiesSkylinesMods/TMPE, pull requests merged in 2022-12, with the labels that each got.

#1707 no parking signs on bus lanes.
  TLM/TLM/Manager/Impl/ParkingRestrictionsManager.cs
  TLM/TLM/UI/SubTools/ParkingRestrictionsTool.cs
Labels: BUG, low priority, PARKING

#1703 Cargo truck transfer pathfinding fixes
  TLM/TLM/Custom/PathFinding/CustomPathFind.cs
  TLM/TLM/Manager/Impl/RoutingManager.cs
  TLM/TLM/Util/TrackUtils.cs
Labels: BUG, confirmed, STABLE, LANE ROUTING, VEHICLE RESTRICTIONS, PATHFINDER, TEST

#1712 What's new 11.7.3.0
  CHANGELOG.md
  README.md
  TLM/SharedAssemblyInfo.cs
  TLM/TLM/Custom/PathFinding/CustomPathFind.cs
  TLM/TLM/Resources/whats_new.txt
  TLM/TLM/UI/WhatsNew/WhatsNew.cs
  TLM/TLM/Util/Extensions/VehicleExtensions.cs
  TLM/TLM/Util/VersionUtil.cs
Labels: meta

#1713 Incomplete Bank vans detection
  TLM/TLM/Manager/Impl/ExtVehicleManager.cs
  TLM/TLM/Patch/_VehicleAI/_BankVanAI/StartPathFindPatch.cs
  TLM/TLM/TLM.csproj
Labels: BUG, STABLE, JUNCTION RESTRICTIONS, TRAFFIC LIGHTS, VEHICLE RESTRICTIONS, TEST

#1714 What's new 11.7.3.1
  CHANGELOG.md
  TLM/TLM/Resources/whats_new.txt
  TLM/TLM/UI/WhatsNew/WhatsNew.cs
Labels: STABLE, meta, TEST

#1698 debug overlay
  TLM/TLM/Patch/_DefaultTool/RenderOverlayPatch.cs
  TLM/TLM/Patch/_VehicleAI/UpdatePathTargetPositionsPatch.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/Helpers/DebugOverlay.cs
Labels: Overlays
