Repository CitiesSkylinesMods/TMPE, pull requests merged in 2022-05, with the labels that each got.

#1556 Junction restrictions cleanup
  TLM/TLM/Manager/Impl/JunctionRestrictionsManager.cs
  TLM/TLM/TLM.csproj
  TLM/TMPE.API/TMPE.API.csproj
  TLM/TMPE.API/Traffic/Data/SegmentEndFlags.cs
  TLM/TMPE.API/Traffic/Data/SegmentFlags.cs
Labels: code cleanup, JUNCTION RESTRICTIONS

#1560 Simulation Accuracy setting regression
  TLM/TLM/State/OptionsTabs/GeneralTab_SimulationGroup.cs
Labels: Settings, regression

#1563 TM:PE 11.6.5.2-hotfix-1
  TLM/TLM/Resources/whats_new.txt
Labels: meta

#1568 Fix regression with version naming
  TLM/TLM/UI/WhatsNew/WhatsNew.cs
Labels: UI, regression

#1551 Locale key updates
  TLM/TLM/Lifecycle/TMPELifecycle.cs
  TLM/TLM/Resources/Translations/AI_Car.csv
  TLM/TLM/Resources/Translations/AI_Citizen.csv
  TLM/TLM/Resources/Translations/Guide.csv
  TLM/TLM/Resources/Translations/JunctionRestrictions.csv
  TLM/TLM/Resources/Translations/LaneRouting.csv
  TLM/TLM/Resources/Translations/Menu.csv
  TLM/TLM/Resources/Translations/ModConflicts.csv
  TLM/TLM/Resources/Translations/Options.csv
  TLM/TLM/Resources/Translations/ParkingRestrictions.csv
  TLM/TLM/Resources/Translations/PrioritySigns.csv
  TLM/TLM/Resources/Translations/SpeedLimits.csv
  TLM/TLM/Resources/Translations/TrafficLights.csv
  TLM/TLM/Resources/Translations/Tutorials.csv
  TLM/TLM/Resources/Translations/VehicleRestrictions.csv
  TLM/TLM/State/Keybinds/KeybindSettingsPage.cs
  TLM/TLM/State/OptionsTabs/GeneralTab.cs
  TLM/TLM/State/OptionsTabs/MaintenanceTab_DespawnGroup.cs
  TLM/TLM/State/OptionsTabs/OverlaysTab_OverlaysGroup.cs
  TLM/TLM/UI/Localization/Translation.cs
  TLM/TLM/UI/WhatsNew/WhatsNewPanel.cs
Labels: Localisation, UI, Settings

#1577 Api update
  TLM/TLM/Constants.cs
  TLM/TLM/Manager/Impl/JunctionRestrictionsManager.cs
  TLM/TLM/Manager/Impl/LaneConnection/LaneConnectionManager.cs
  TLM/TLM/Manager/Impl/TrafficLightManager.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/Textures/RoadSignTheme.cs
  TLM/TLM/UI/UIFactory.cs
  TLM/TMPE.API/Implementations.cs
  TLM/TMPE.API/Manager/ITrafficLightManager.cs
  TLM/TMPE.API/Manager/ITrafficLightSimulationManager.cs
  TLM/TMPE.API/TMPE.API.csproj
  TLM/TMPE.API/Traffic/Enums/JunctionRestrictionFlags.cs
  TLM/TMPE.API/Traffic/Enums/LaneEndTransitionGroup.cs
  TLM/TMPE.API/UI/ITheme.cs
  TLM/TMPE.API/UI/IUIFactory.cs
Labels: API
