Repository CitiesSkylinesMods/TMPE, pull requests merged in 2022-11, with the labels that each got.

#1686 Compatibility patch for 1.15.1-f4
  CHANGELOG.md
  TLM/SharedAssemblyInfo.cs
  TLM/TLM/Custom/PathFinding/CustomPathFind.cs
  TLM/TLM/Patch/_VehicleAI/VehicleAICommons.cs
  TLM/TLM/Resources/whats_new.txt
  TLM/TLM/UI/WhatsNew/WhatsNew.cs
  TLM/TLM/Util/VersionUtil.cs
Labels: STABLE, meta, TEST

#1692 Uturn NC compatibility
  TLM/TLM/Patch/_VehicleAI/UpdatePathTargetPositionsPatch.cs
Labels: COMPATIBILITY

#1681 don't save empty records in asset editor
  TLM/TLM/Lifecycle/AssetDataExtension.cs
  TLM/TLM/Manager/Impl/TrafficLightManager.cs
  TLM/TLM/State/Asset/AssetData.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/Util/Extensions/EnumerableExtensions.cs
  TLM/TLM/Util/Record/IRecordable.cs
  TLM/TLM/Util/Record/LaneArrowsRecord.cs
  TLM/TLM/Util/Record/LaneConnectionRecord.cs
  TLM/TLM/Util/Record/NodeRecord.cs
  TLM/TLM/Util/Record/SegmentEndRecord.cs
  TLM/TLM/Util/Record/SegmentRecord.cs
  TLM/TLM/Util/Record/SpeedLimitLaneRecord.cs
  TLM/TLM/Util/Record/TrafficRulesRecord.cs
  TLM/TLM/Util/Record/VehicleRestrictionsLaneRecord.cs
Labels: technical, MASS EDIT, Asset Editor

#1689 Get Segment End API
  TLM/TLM/Manager/Impl/ExtSegmentEndManager.cs
  TLM/TMPE.API/Manager/IExtSegmentEndManager.cs
Labels: low priority, API

#1690 considerate bus stop behaviour
  TLM/TLM/Patch/_NetLane/CalculateStopPositionAndDirection.cs
  TLM/TLM/TLM.csproj
Labels: enhancement, Vehicle Behavior

#1697 instance manager for debugging
  TLM/TLM/State/ConfigData/DebugSettings.cs
  TLM/TLM/UI/TrafficManagerTool.cs
Labels: UI, Settings

#1696 debug switches UI
  TLM/TLM/State/ConfigData/DebugSettings.cs
  TLM/TLM/State/OptionsTabs/MaintenanceTab_ConfigGroup.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/DebugSwitches/DebugSwitchCheckboxOption.cs
  TLM/TLM/UI/DebugSwitches/DebugSwitchPanel.cs
  TLM/TLM/UI/Helpers/OptionButtonBase.cs
  TLM/TLM/UI/MainMenu/DebugMenu.cs
Labels: Settings
