Repository CitiesSkylinesMods/TMPE, pull requests merged in 2022-04, with the labels that each got.

#1496 Modernise several uses of `GetSortedLanes()` batch 2
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/UI/SubTools/SpeedLimits/Overlay/SpeedLimitsOverlay.cs
  TLM/TLM/UI/SubTools/VehicleRestrictionsTool.cs
  TLM/TLM/Util/AutoTimedTrafficLights.cs
  TLM/TLM/Util/Extensions/NetSegmentExtensions.cs
  TLM/TLM/Util/PriorityRoad.cs
Labels: code cleanup

#1505 ignore saving TMPE metadata if there are no networks.
  TLM/TLM/Lifecycle/AssetDataExtension.cs
  TLM/TLM/State/Asset/AssetData.cs
Labels: BUG, Asset Editor

#1506 Modernise `IsStartNode()`
  TLM/.editorconfig
  TLM/TLM/Geometry/Impl/SegmentEndId.cs
  TLM/TLM/Manager/Impl/CustomSegmentLightsManager.cs
  TLM/TLM/Manager/Impl/ExtNodeManager.cs
  TLM/TLM/Manager/Impl/ExtSegmentEndManager.cs
  TLM/TLM/Manager/Impl/ExtSegmentManager.cs
  TLM/TLM/Manager/Impl/LaneConnectionManager.cs
  TLM/TLM/Manager/Impl/RoutingManager.cs
  TLM/TLM/Manager/Impl/TrafficLightSimulationManager.cs
  TLM/TLM/Manager/Impl/TrafficPriorityManager.cs
  TLM/TLM/Traffic/Impl/SegmentEnd.cs
  TLM/TLM/TrafficLight/Impl/CustomSegmentLights.cs
  TLM/TLM/TrafficLight/Impl/TimedTrafficLights.cs
  TLM/TLM/TrafficLight/Impl/TimedTrafficLightsStep.cs
  TLM/TLM/UI/Helpers/TrafficRulesOverlay.cs
  TLM/TLM/UI/SubTools/JunctionRestrictionsTool.cs
  TLM/TLM/UI/SubTools/LaneArrows/LaneArrowTool.cs
  TLM/TLM/UI/SubTools/ManualTrafficLightsTool.cs
  TLM/TLM/UI/SubTools/PrioritySigns/PrioritySignsTool.cs
  TLM/TLM/UI/SubTools/TimedTrafficLights/TimedTrafficLightsTool.cs
  TLM/TLM/Util/AutoTimedTrafficLights.cs
  TLM/TLM/Util/Extensions/NetLaneExtensions.cs
  TLM/TLM/Util/Extensions/NetSegmentExtensions.cs
  TLM/TLM/Util/PriorityRoad.cs
  TLM/TLM/Util/Record/LaneConnectionRecord.cs
  TLM/TLM/Util/Record/TrafficRulesRecord.cs
  TLM/TLM/Util/RoundaboutMassEdit.cs
  TLM/TLM/Util/SegmentTraverser.cs
  TLM/TLM/Util/SeparateTurningLanesUtil.cs
Labels: code cleanup

#1513 Update `Microsoft.Unity.Analyzers` package to `1.13`
  TLM/TLM/TLM.csproj
  TLM/TLM/packages.config
Labels: meta

#1481 Update Incompatible Mods list
  TLM/TLM/Resources/incompatible_mods.txt
Labels: EXTERNAL, COMPATIBILITY

#1516 Destroy UI texture immediately to solve race condition
  TLM/TLM/Manager/Impl/OptionsManager.cs
  TLM/TLM/State/OptionsTabs/GeneralTab_LocalisationGroup.cs
  TLM/TLM/UI/ModUI.cs
Labels: confirmed, UI, regression, TEST

#1522 Minor improvements to `GetSortedLanes`
  TLM/TLM/Util/Extensions/NetSegmentExtensions.cs
Labels: code cleanup

#1487 fix bidirectional zigzag
  TLM/TLM/Manager/Impl/RoutingManager.cs
  TLM/TLM/Util/TrackUtils.cs
Labels: BUG, LANE ROUTING

#1521 Modernise remaining uses of `GetSortedLanes()`
  TLM/TLM/Manager/Impl/ExtSegmentManager.cs
  TLM/TLM/Util/Record/LaneArrowsRecord.cs
  TLM/TLM/Util/Record/SegmentRecord.cs
  TLM/TLM/Util/Record/SpeedLimitLaneRecord.cs
  TLM/TLM/Util/Record/VehicleRestrictionsLaneRecord.cs
  TLM/TLM/Util/SeparateTurningLanesUtil.cs
Labels: code cleanup

#1495 Remove flawed TTL API
  TLM/TLM/Custom/PathFinding/CustomPathFind.cs
  TLM/TLM/Manager/Impl/CustomSegmentLightsManager.cs
  TLM/TLM/Manager/Impl/TrafficLightManager.cs
  TLM/TLM/Manager/Impl/TrafficLightSimulationManager.cs
  TLM/TLM/Manager/Impl/TrafficPriorityManager.cs
  TLM/TLM/Manager/Impl/VehicleBehaviorManager.cs
  TLM/TLM/Patch/_CitizenAI/_HumanAI/CheckTrafficLightsPatch.cs
  TLM/TLM/Patch/_RoadBaseAI/GetTrafficLightNodeStatePatch.cs
  TLM/TLM/Patch/_RoadBaseAI/SetTrafficLightStatePatch.cs
  TLM/TLM/Patch/_RoadBaseAI/TrafficLightSimulationStepPatch.cs
  TLM/TLM/Patch/_TrainTrackBaseAI/LevelCrossingSimulationStepPatch.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/TrafficLight/Impl/CustomSegment.cs
  TLM/TLM/TrafficLight/Impl/CustomSegmentLight.cs
  TLM/TLM/TrafficLight/Impl/CustomSegmentLights.cs
  TLM/TLM/TrafficLight/Impl/ITrafficLightContainer.cs
  TLM/TLM/TrafficLight/Impl/TimedTrafficLights.cs
  TLM/TLM/TrafficLight/Impl/TimedTrafficLightsStep.cs
  TLM/TLM/TrafficLight/Impl/TrafficLightSimulation.cs
  TLM/TLM/UI/SubTools/ManualTrafficLightsTool.cs
  TLM/TLM/UI/SubTools/TTL/TTLToolMode.cs
  TLM/TLM/UI/SubTools/TTL/TimedTrafficLightsTool.cs
  TLM/TLM/UI/TrafficManagerTool.cs
  TLM/TLM/Util/AutoTimedTrafficLights.cs
  TLM/TMPE.API/Manager/ICustomSegmentLightsManager.cs
  TLM/TMPE.API/Manager/ITrafficLightManager.cs
  TLM/TMPE.API/Manager/ITrafficLightSimulationManager.cs
  TLM/TMPE.API/TMPE.API.csproj
  TLM/TMPE.API/TrafficLight/ICustomSegmentLight.cs
  TLM/TMPE.API/TrafficLight/ICustomSegmentLights.cs
  TLM/TMPE.API/TrafficLight/ITimedTrafficLights.cs
  TLM/TMPE.API/TrafficLight/ITimedTrafficLightsStep.cs
Labels: code cleanup, API

#1493 skip routing invalid segments
  TLM/TLM/Manager/Impl/RoutingManager.cs
Labels: code cleanup

#1512 DropDownOption
  TLM/TLM/Manager/Impl/OptionsManager.cs
  TLM/TLM/Manager/Impl/VehicleBehaviorManager.cs
  TLM/TLM/State/Configuration.cs
  TLM/TLM/State/Options.cs
  TLM/TLM/State/OptionsTabs/GameplayTab_VehicleBehaviourGroup.cs
  TLM/TLM/State/OptionsTabs/GeneralTab_SimulationGroup.cs
  TLM/TLM/State/OptionsTabs/PoliciesTab_OnRoadsGroup.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/Helpers/CheckboxOption.cs
  TLM/TLM/UI/Helpers/DropDownOption.cs
  TLM/TLM/UI/Helpers/SerializableUIOptionBase.cs
  TLM/TLM/UI/Helpers/SliderOption.cs
  TLM/TMPE.API/TMPE.API.csproj
  TLM/TMPE.API/Traffic/Enums/LocaleKeyAttribute.cs
  TLM/TMPE.API/Traffic/Enums/RecklessDrivers.cs
  TLM/TMPE.API/Traffic/Enums/SimulationAccuracy.cs
  TLM/TMPE.API/Traffic/Enums/VehicleRestrictionsAggression.cs
Labels: code cleanup, Settings, Blocking

#1531 fix hot-reload for DropDownOption
  TLM/TLM/UI/Helpers/DropDownOption.cs
Labels: BUG, Settings, lifecycle

#1501 Separate car/track routing
  TLM/TLM/Custom/PathFinding/CustomPathFind.cs
  TLM/TLM/Manager/Impl/RoutingManager.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/Util/TrackUtils.cs
  TLM/TMPE.API/Manager/IRoutingManager.cs
  TLM/TMPE.API/TMPE.API.csproj
  TLM/TMPE.API/Traffic/Enums/LaneEndTransitionGroup.cs
Labels: BUG, LANE ROUTING, PATHFINDER, Blocking

#1534 routing detector tool
  TLM/TLM/Manager/Impl/RoutingManager.cs
  TLM/TLM/Resources/MainMenu/Tool/RoutingDetector-fg-active.png
  TLM/TLM/Resources/MainMenu/Tool/RoutingDetector-fg-normal.png
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/MainMenu/MainMenuPanel.cs
  TLM/TLM/UI/MainMenu/MainMenuWindow.cs
  TLM/TLM/UI/MainMenu/RoutingDetectorButton.cs
  TLM/TLM/UI/SubTools/RoutingDetector/Connection.cs
  TLM/TLM/UI/SubTools/RoutingDetector/LaneEnd.cs
  TLM/TLM/UI/SubTools/RoutingDetector/RoutingDetectorTool.cs
  TLM/TLM/UI/ToolMode.cs
  TLM/TLM/UI/TrafficManagerTool.cs
  TLM/TLM/Util/Extensions/ArrayExtensions.cs
Labels: feature, technical, LANE ROUTING

#1537 Backward routings
  TLM/TLM/UI/SubTools/RoutingDetector/LaneEnd.cs
  TLM/TLM/UI/SubTools/RoutingDetector/RoutingDetectorTool.cs
Labels: feature, technical, LANE ROUTING

#1548 Api hotfix
  TLM/TMPE.API/Implementations.cs
Labels: high priority, technical, API

#1543 Parking AI ignores `ElectricCars` district policy and also prevent spawning electric cars at outside connection
  TLM/TLM/Manager/Impl/AdvancedParkingManager.cs
  TLM/TLM/Manager/Impl/ExtCitizenInstanceManager.cs
  TLM/TLM/Manager/Impl/ExtVehicleManager.cs
  TLM/TLM/Patch/_CitizenAI/_ResidentAI/GetVehicleInfoPatch.cs
  TLM/TLM/Util/Shortcuts.cs
Labels: BUG, PARKING

#1549 routing detector: detail all routings when no target lane
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/SubTools/RoutingDetector/RoutingDetectorTool.cs
Labels: enhancement, technical, LANE ROUTING

#1480 WIP: What's New in TM:PE 11.6.5.2
  CHANGELOG.md
  README.md
  TLM/TLM/Resources/whats_new.txt
  TLM/TLM/UI/WhatsNew/WhatsNew.cs
Labels: meta

#1545 move lane connection manager to sub folder.
  TLM/TLM/Lifecycle/SerializableDataExtension.cs
  TLM/TLM/Lifecycle/TMPELifecycle.cs
  TLM/TLM/Manager/Impl/ExtNodeManager.cs
  TLM/TLM/Manager/Impl/LaneConnection/ConnectionDataBase.cs
  TLM/TLM/Manager/Impl/LaneConnection/LaneConnectionData.cs
  TLM/TLM/Manager/Impl/LaneConnection/LaneConnectionManager.cs
  TLM/TLM/Manager/Impl/LaneConnection/LaneEnd.cs
  TLM/TLM/Manager/Impl/ManagerFactory.cs
  TLM/TLM/Manager/Impl/RoutingManager.cs
  TLM/TLM/State/Flags.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/SubTools/LaneArrows/LaneArrowTool.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/Util/PriorityRoad.cs
  TLM/TLM/Util/Record/LaneConnectionRecord.cs
  TLM/TLM/Util/SeparateTurningLanesUtil.cs
Labels: code cleanup, DO NOT MERGE YET, LANE ROUTING

#1546 lane connection "SUB" manager
  TLM/TLM/Manager/Impl/ExtNodeManager.cs
  TLM/TLM/Manager/Impl/LaneConnection/LaneConnectionManager.cs
  TLM/TLM/Manager/Impl/LaneConnection/LaneConnectionSubManager.cs
  TLM/TLM/Manager/Impl/RoutingManager.cs
  TLM/TLM/State/Flags.cs
  TLM/TLM/TLM.csproj
  TLM/TLM/UI/SubTools/LaneArrows/LaneArrowTool.cs
  TLM/TLM/UI/SubTools/LaneConnectorTool.cs
  TLM/TLM/Util/Record/LaneConnectionRecord.cs
  TLM/TLM/Util/SeparateTurningLanesUtil.cs
Labels: code cleanup, DO NOT MERGE YET, API, LANE ROUTING
